@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', 'Roboto', 'Ubuntu', sans-serif;
}
html{
    font-size: 62.5%;
}
.header{
    width: 100%;
    min-height: 5rem;
    z-index: 999;
    background: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky;
    position: -webkit-sticky; */
}
.logo strong{
    color: #000;
    font-style: italic;
}
.logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    padding: 2.2rem 3rem;
}
.nav-links{
    display: flex;
    justify-content: space-between;
}
/* created id to fucntion by dynamically removing and bringing the navbor on small screen devices */
#active{
    z-index: 0;
    /* transition: all .5s ease-in-out; */
   
}
.nav-links li a:hover{
    color: #fff;
}
.nav-links li a{
    padding: 0 1rem;
    font-size: 2rem;
    padding: 2rem;
    color: #777;
    transition: all .3s ease;
}

i.fa-bars{
    display: none;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
}
.fa-window-close{
    display: none;
    transform: translate(-200%, -200%);
}



/* social icone set to hiden on the navigation for biger screens */


.icons-social{
    display: none;
    color: white;
}
.icons-social i{
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
}
.fa-youtube,
.fa-twitter,
.fa-facebook{
    cursor: pointer;
}
.fa-facebook{
    color: 	blue;
}
.fa-twitter{
    color: lightseagreen;
}
.fa-youtube{
    color: red;
}




















/* media query  fr the navigation on small devices*/

@media (max-width:900px) {
    .header{
        width: 100%;
        min-height: 4rem;
        background: transparent;
        box-shadow: 0 0 0 2px #8888;
        z-index: 0;
    }
    .logo strong{
        font-style: normal;
    }
    .logo{
        font-family: 'Roboto' sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        padding: 2.0rem 0;
        font-style: italic;
        color: #000;

    }
    .nav-links{
        top: 0;
        right: -100%;
        transform: translate(-100%, -100%);
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: all .5s ease-in-out;
        min-height: 100vh;
        width: 100%;
        background: #000;
    }
    i.fa-bars{
        display: block;
    }
    /* dynamically insert the class that will control navigation links */
    #active{
        right: 0;
        top: 0;
        transform: translate(0%, 0%);
        /* margin: 4rem; */
        z-index: 999;
        background: #000;
        min-height: 100vh;
        /* width: 100%; */
    }
    li a{
        cursor: pointer;
        color: #fff;
    }
    /* #nav-main li a{
        color: #fff;
    } */
    #active li a{
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        margin: 1rem;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-bottom: 1px solid #565656;
    }
/* Insert the icon fo closing the windo */

    .fa-window-close{
        color: #fff;
        font-size: 2rem;
        font-family: sans-serif;
        padding: 3rem 3rem 0 0;
        transform: translate(0%, 0%);
        transition: all .3s ease-in-out;
    }
    i.fa-window-close{
        position: relative;
        float: right;
        display: flex;
        justify-content: right;
        cursor: pointer;
    }
    
    /* now show the icons on a lesser screen at the bottom of the screen brought up by the navbar */
    .icons-social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1.5rem;
    }
}
@media (max-width:700px) {
    .logo{
        font-size: 2rem;
        font-weight: 300px;
    }
}
@media (max-width:300px) {
    .header{
        min-height: 2.8rem;
        box-shadow: 0 0 0 2px #888;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 200;
        font-family: 'Poppins' sans-serif;
        font-weight: 400;
    }
    .logo strong{
        display: none;
    }
}









/* Home section styling */



.home{
    margin:3rem auto;
    min-height: 80vh;
    width: 100%;
}
.home h1{
    padding-top: 10%;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 3rem 2rem;
}
.home p{
    width: 60%;
    margin: 1rem auto;
    font-size: 2rem;
    font-family: 'Poppins' sans-serif;
    text-align: center;
}
button{
    align-items: center;
    padding: 3rem auto;
    margin: auto 30%;

}
.btn{
    padding: 1rem 2.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}